@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "@/styles/components.css";
@import "tailwindcss";

@theme {
  --font-*: initial;
  --font-dmsans: "DM Sans", "sans-serif";
  --font-montserrat: "Montserrat", "serif";

  --color-gray-20: #f8f4eb;
  --color-gray-50: #efe6e6;
  --color-gray-100: #dfcccc;
  --color-gray-500: #5e0000;

  --color-primary-100: #ffe1e0;
  --color-primary-300: #ffa6a3;
  --color-primary-500: #ff6b66;

  --color-secondary-400: #ffcd5b;
  --color-secondary-500: #ffc132;

  --background-gradient-yellowred: linear-gradient(
    90deg,
    #ff616a 0%,
    #ffc837 100%
  );
  --background-mobile-home: url("./assets/HomePageGraphic.png");

  --content-evolvetext: url("./assets/EvolveText.png");
  --content-evolvetextconact: url("./assets/EvolveTextContact.png");
  --content-abstractwaves: url("./assets/AbstractWaves.png");
  --content-sparkles: url("./assets/Sparkles.png");
  --content-circles: url("./assets/Circles.png");

  --breakpoint-*: initial; /* Сброс стандартных брейкпоинтов */
  --breakpoint-xs: 30rem; /* 480px */
  --breakpoint-sm: 48rem; /* 768px */
  --breakpoint-md: 66.25rem; /* 1060px */
}

html,
body,
#root,
.app {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  font-family: var(--font-dmsans);
  scroll-behavior: smooth;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: "next";
  color: #ffc132;
  border-radius: 50px;
  font-weight: 900;
}

#ourclasses .swiper {
  padding-bottom: 50px;
}

#ourclasses .swiper-pagination-bullet-active {
  background: #ff616a;
}

#ourclasses .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

@media (max-width: 1124px) {
  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: none;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: "";
}

.swiper-navigation-icon {
  color: #ffc132;
  border-radius: 50px;
  font-weight: 900;
}

#ourclasses .swiper {
  padding-bottom: 50px;
}

#ourclasses .swiper-pagination-bullet-active {
  background: #ff616a;
}
#ourclasses .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

@media (max-width: 1124px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}
